{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="views-element-container top-picks-for-you-section">
  <div class="view-top-picks-for-you view-id-top_picks_for_you">
    <div class="view-header">
      <h2>Related Products</h2>
    </div>
    <div class="view-content row">
      <ul class="top-pick-for-you-slider">
        <div class="slick-slide">
          <li>
            <article{{ attributes }}>
                {# {{- product|without('variation_attributes') -}} #}
                <div class="views-row">
                  <div class="views-field views-field-field-images">
                    <div class="field-content">
                      {{ product.field_images }}
                    </div>
                  </div>

                  <div class="views-field views-field-title">
                    <span class="field-content">
                      {{ product.title }}
                    </span>
                  </div>

                  <div class="views-field views-field-price__number">
                    <span class="field-content">
                      {{ product.variation_price }}
                    </span>
                  </div>
                  <div class="views-field views-field-variations-target-id">
                    <span class="field-content">
                      {{ product.variations }}
                    </span>
                  </div>
                </div>
              </article>
          </li>
        </div> 
      </ul>
    </div>  
  </div>
</div>
