{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="block-system-main-block">
  <article{{ attributes }}>
    {# {{- product|without('variation_attributes') -}} #}
    <div class="views-row">
      <div class="views-field views-field-field-images">
        <div class="field-content">
          {{ product.field_images }}
        </div>
      </div>

      <div class="views-field views-field-title">
        <span class="field-content">
          {{ product.title }}
        </span>
      </div>

      <div class="views-field views-field-variations-target-id">
        <span class="field-content">
          {{ product.variations_target_id }}
        </span>
      </div>
      <div class="views-field views-field-variations-target-id-1">
        <span class="field-content">
          {{ product.variations_target_id_1 }}
        </span>
      </div>
    </div>
  </article>
</div>
